@charset "utf-8";
/* ---------------------------------------------
const
--------------------------------------------- */
$COLOR_DARKGRAY: #ebebeb;
$COLOR_LIGHTGRAY: #cbcbcb;

$COLOR_WHITE: #ffffff;
$COLOR_THEME: #00a6ba;
$COLOR_THEME_HOVER: #00c7df;
$COLOR_THEME_BTN_HOVER: #0096a8;

$COLOR_BLACK_WEAK: #999999;
$COLOR_BLACK_NORMAL: #666666;
// $COLOR_BLACK_NORMAL: #646464;
$COLOR_BLACK_STRONG: #333333;

$COLOR_AEON_THEME:#b20081;

$COLOR_ADULT_THEME:#fccfdd;
$COLOR_ADULT_LIGHT_THEME:#ea0a56;


$COLOR_HOVER: #DEF5F0;

$COLOR_WHITE: #FFFFFF;
$COLOR_RED: #FF0000;

$COLOR_USEN: #e8340c;

$LP_FONT_SIZE_SP: 12px;
$LP_FONT_SIZE_TAB: 14px;
$LP_FONT_SIZE_PC: 14px;

$HEADER_HEIGHT: 56px;
$HEADER_HEIGHT_SP: 56px;

$DEF_MARGIN_BOTTOM: 2.5rem;
$TITLE_MARGIN_BOTTOM: 6rem;
$MIDDILE_MARGIN_BOTTOM: 4rem;